form {
  width: 20vw;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  margin-bottom: 3vh;
}

button {
  display: block;
  margin: auto;
  width: 3vw;
}

div {
  background-color: white;
}