
button {
  display: block;
  margin: 1rem auto;
  width: 9rem;
  background-color: #464646;
  border-radius: 50%;
}

.formcontainer {
  background-image: url('/assets/img/papier.png');
  padding: 4rem 9rem 2rem 9rem;
  border-radius: 0 5% 5% 0;
  width: 36rem;
  height: 38rem;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
}

.left {
  background-image: linear-gradient(to right, #111111, #454545 );
  border-radius: 5% 0 0 5%;
  color: white;
  text-align: center;
  padding: auto;
  
}

.row {
  margin: 2rem auto;
}

