<div class="row justify-content-center">
    <div class="col-3 left">
        <h4>Sign up here</h4>
    </div>
<div class="col-4 formcontainer">
    <form (ngSubmit)="onFormSubmit(userForm)" #userForm="ngForm">
        <div class="form-group">
            <label for="nickname">Nickname :</label>
            <input class="form-control" type="text" id="nickname" placeholder="Choose a nickname" name="pending_nickname" ngModel required>
            <label for="password">Password :</label>
            <input class="form-control" type="password" id="password" placeholder="Choose a password" name="pending_password" ngModel required>
            <label for="firstname">Firstname :</label>
            <input class="form-control" type="text" id="firstname" placeholder="Your firstname" name="pending_firstname" ngModel required>
            <label for="lastname">Lastname :</label>
            <input class="form-control" type="text" id="lastname" placeholder="Your lastname" name="pending_lastname" ngModel required>
            <label for="email">E-mail :</label>
            <input class="form-control" type="email" id="email" placeholder="Your e-mail address" name="pending_email" ngModel required>
            <label for="sections">Choose your section :</label>
            <select class="form-control" id="sections" name="pending_section" ngModel required>
                <option *ngFor="let section of sections" [value]="section">{{ section }}</option>
            </select>
            <button class="btn btn-primary" type="submit">Sign in</button>
        </div>
    </form>
</div></div>