* {
  margin : 0;
  padding : 0;
  width: 100vw;
}

h1 {
  text-align: center;
  height: 5rem;
  background-color: #111111;
  color: white;
}

.navigation {
  text-align: right;
  background-image: linear-gradient(to top, #aaaaaa, #111111 70%);
  height: 3rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  border: solid 1px white;
  margin-right: 5rem;
  padding: 0 3rem;
}

.carousel img {
  max-width: 40rem;
  max-height: 32rem;
  margin: auto;
  margin-top: 5rem;
}