.formcontainer {
  margin: 2rem auto;
  background-image: url('/assets/img/papier.png');
  padding: 8rem 2rem 2rem 5rem;
  width: 36rem;
  height: 38rem;
  border-radius: 0 5% 5% 0;
}

.tabletop {
  font-size: 1.2rem;
  font-weight: bold;
}